body {
    background: #eee;
    margin: 0 20%;
    }
    
    .top {
    background: #cccccc;
    border: 3px solid #acacac;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0px;
    text-align: center;
    }
    
    .menu, .footer {
    background: #cccccc;
    border: 3px solid #acacac;
    padding: 10px;
    text-align: center;
    }
    
    a {
    color: #6b1d1d;
    font-size: 18px;
    font-weight: bold;
    }
    .logo {
        margin-top: 20px;
        }